.font24 {
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font16_medium {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font14_medium {
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font36 {
    font-family: Noto Sans TC;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font32 {
    font-family: Noto Sans TC;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.2px;
}

.font16_normal {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}