$bg: #F5F6F6;
$white:#ffffff;
$blue:#3F51B5;
$black: #000000;
$gray_1:#B7B7B7;
$gray_2:#F5F5F5;
$gray_3:#E7E7E7;
$red:#F44336;

@import url(./font.scss);

@mixin border {
    border-right: 1px solid rgba($color: #3C3C43, $alpha: 0.2);
}

@mixin border_all {
    border: 1px solid rgba($color: #3C3C43, $alpha: 0.2);
}

@mixin border_bot {
    border-bottom: 1px solid rgba($color: #3C3C43, $alpha: 0.2);
}

* {
    font-family: "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg;
}

.login {
    background-color: white;
    @include border_all;
    width: 498px;
    padding: 36px 64px 48px 64px;
    text-align: center;
    &_frame {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    section {
        .font16_normal {
            color: $gray_1;
            margin-top: 12px;
            padding-bottom: 32px;
            @include border_bot;
            margin-bottom: 32px;
        }
    }
}

.main {
    display: flex;
    &_container {
        width: 100%;
        padding: 40px 80px;
    }
}

.bar {
    &__side {
        background-color: $white;
        @include border;
        width: 213px;
        height: 100vh;
        padding: 28px 0 36px 0;
        &_main {
            height: calc(100% - 64px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .logout {
            a {
                color: $red;
            }
        }
        p {
            color: $blue;
            margin-bottom: 28px;
            padding-left: 36px;
        }
        li {
            list-style: none;
            height: 64px;
            padding-left: 36px;
            img {
                margin-right: 12px;
            }
            a {
                display: flex;
                align-items: center;
                color: $gray_1;
                text-decoration: none;
                width: 100%;
                line-height: 64px;
            }
            &.active {
                background-color: $gray_2;
                border-right: 4px solid $blue;
                a {
                    color: rgba($color: $black, $alpha: 0.87);
                    width: 100%;
                    font-weight: 500;
                }
            }
        }
    }
    
}

.list {
    background-color: $white;
    width: 100%;
    height: calc(100% - 40px - 20px);
    border-radius: 3px;
    @include border_all;
    margin-top: 20px;
    &_header {
        background-color: #404040;
        color: $white;
        border-radius: 3px 3px 0 0;
        height: 48px;
        padding: 14px 48px;
        display: flex;
        span {
            width: 120px;
            margin-right: 50px;
        }
    }
    li {
        list-style: none;
    }
    &_context {
        padding: 14px 48px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        section {
            display: flex;
            span {
                width: 120px;
                margin-right: 50px;
            }
        }
        &:nth-child(odd) {
            background-color: rgba($color: #EEEEEE, $alpha: 0.6);
        }
    }
}

input::placeholder {
    color: $gray_1;
}

input {
    font-size: 16px;
    color: rgba($color: $black, $alpha: 0.87);
    outline: none;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
    input {
        width: 100%;
        border: 1px solid $gray_3;
        border-radius: 6px;
        padding: 14px 16px;
        height: 48px;
        // &:focus {
        //     border-color: $blue;
        // }
    }
    label {
        color: rgba($color: $black, $alpha: 0.87);
        font-family: Noto Sans TC;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 4px;
    }
}

.input_psw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
    input {
        width: 100%;
        border: none;
        padding-left: 16px;
    }
    .input_style {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border: 1px solid $gray_3;
        border-radius: 6px;
        padding-right: 16px;
        height: 48px;
    }
    button {
        background-color: transparent;
        border: none;
    }
    label {
        color: rgba($color: $black, $alpha: 0.87);
        font-family: Noto Sans TC;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 4px;
    }
}

button {
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.button {
    &_fill {
        background-color: $blue;
        width: 100%;
        height: 48px;
        border-radius: 6px;
        color: $white;
        font-size: 16px;
        font-weight: 500;
    }
}

.data_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        background-color: $blue;
        padding: 8px 16px;
        min-width: 120px;
        height: 40px;
        border-radius: 6px;
        color: $white;
        font-size: 14px;
        font-weight: 500;
    }
}